services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat_app
    volumes:
      - ./backend:/var/www/html
    networks:
      - web
    depends_on:
      - redis
    user: "${UID:-1000}:1000"
    command: php-fpm  
    expose:
      - "9000"  # Needed for Nginx to fastcgi_pass app:9000

  frontend:
    image: node:22-alpine
    container_name: frontend_dev
    working_dir: /app
    volumes:
      - ./frontend:/app
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.chat.rule=Host(`chat.localhost`) && PathPrefix(`/`)"
    - "traefik.http.routers.chat.priority=1"
    - "traefik.http.services.chat.loadbalancer.server.port=5173"

    ports:
      - "5173:5173"  # Vite default port
    command: sh -c "npm install && npm run dev -- --host"
    networks:
      - web

  reverb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat_reverb
    volumes:
      - ./backend:/var/www/html
    command: php artisan reverb:start --host=0.0.0.0 --port=6001
    ports:
      - "6001:6001"
    networks:
      - web
    depends_on:
      - redis
    user: "${UID:-1000}:1000"

  nginx:
    image: nginx:alpine
    container_name: chat_nginx
    volumes:
      - ./backend:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chatApi.rule=Host(`chat.localhost`) && PathPrefix(`/api`)"
      - "traefik.http.routers.chatApi.entrypoints=web"
      - "traefik.http.services.chatApi.loadbalancer.server.port=80"
    networks:
      - web
    depends_on:
      - app
    expose:
      - "80"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - web

networks:
  web:
    external: true
